@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Manrope:wght@400;600;700&family=Orbitron&family=Roboto:wght@300;400;700&display=swap");

:root {
  --color-brand--1: rgb(255, 181, 69);
  --color-brand--2: rgb(0, 196, 106);

  --color-dark--1: rgb(45, 52, 57);
  --color-dark--2: rgb(66, 72, 77);
  --color-light--1: rgb(171, 171, 171);
  --color-light--2: rgb(236, 236, 236);
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  overscroll-behavior-y: none;

  background-color: #fff;
}

input,
select,
button {
  font-family: "Roboto";
  font-weight: 500;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

#root {
  display: grid;
  grid-template-rows: 8rem 1fr;
  grid-template-columns: 45rem 1fr;
}

/* SIDEBAR */
.sidebar {
  border-top: 0.5px solid #777;
  height: calc(100vh - 14rem);
  grid-column: 1 / 2;
  box-shadow: 0 -1.5rem 4rem rgba(0, 0, 0, 0.06);
  background: linear-gradient(
    to top right,
    var(--color-dark--1),
    var(--color-dark--2)
  );
  padding: 3rem 4rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  transition: transform 1.5s;
}

.logo {
  height: 7.5rem;
  align-self: center;
  margin-bottom: 4rem;
}

.events {
  list-style: none;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.events::-webkit-scrollbar {
  width: 0;
}

.event {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
  position: relative;
  border-left: 5px solid rgb(46, 125, 50);

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem 1.5rem;
  transition: all 0.3s;
}

.event-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.event-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.event-exit {
  opacity: 1;
  transform: translateY(0);
}

.event-exit-active {
  opacity: 0;
  transform: translateY(-100%);
}

.event__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-left: 0.5rem;
  border-bottom: 0.5px solid #777;
}

.event__title span {
  float: right;
  font-weight: normal;
}

.event__details {
  display: flex;
  /* justify-content: center; */
  align-items: baseline;
}

.event__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.event__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.event__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  right: 0;
  padding-left: 3rem;
  background-color: rgba(46, 125, 50);
  clip-path: polygon(0 50%, 20% 0, 100% 0, 100% 100%, 20% 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(100%);
  transition: transform 0.3s;
}

.overlay__image {
  height: 30%;
  width: 30%;
  transition: transform 0.3s;
}

.overlay__image:hover {
  transform: scale(1.25);
}

.event:hover .overlay {
  transform: none;
}

/* MAP */
#map {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  grid-column: 2 / 3;
  height: 100%;
  z-index: 9;
  background-color: var(--color-light--1);
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.modal-enter {
  transform: translateY(-100%);
  /* visibility: hidden; */
}

.modal-enter-active {
  transform: translateY(0);
  /* visibility: visible; */
}

.modal-exit {
  transform: translateY(0);
  /* visibility: visible; */
}

.modal-exit-active {
  transform: translateY(-100%);
  /* visibility: hidden; */
}

.modal {
  width: 50%;
  padding: 2rem 4rem;
  background: #fff;
  color: #000;
  border-radius: 0.3rem;
  position: relative;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.7);
}

.modal-header {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.modal table {
  font-size: 2rem;
  width: 100%;
}

.modal table td {
  padding-bottom: 2rem;
}

.modal table td:nth-child(1) {
  color: #222;
}

.modal table td:nth-child(2) {
  width: 10%;
  text-align: center;
}

.modal table td:nth-child(3) {
  color: #777;
  text-align: justify;
}

.modal span {
  position: absolute;
  font-size: 3rem;
  top: 0.5rem;
  right: 2rem;
  color: #777;
  cursor: pointer;
}

.modal span:hover {
  color: #222;
}

.table__input {
  color: inherit;
  font: inherit;
  border: none;
  border-bottom: 2px solid var(--color-brand--2);
  padding: 0.75rem 0.5rem 0;
  transform: translateY(-20%);
  width: 100%;
  outline: none;
}

.form-error {
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  margin-top: -2rem;
  font-size: 1.6rem;
  /* background: #ffcdd2; */
  color: #d32f2f;
}

.input-error {
  font-size: 1.4rem;
  color: #d32f2f;
}

.btn-grp {
  margin: 1rem 0;
  display: flex;
  gap: 3rem;
}

.model__btn {
  font-size: 1.8rem;
  width: 15rem;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.model__btn--save {
  background: #1b5e20;
}

.model__btn--save:hover {
  background: #388e3c;
}

.model__btn--edit {
  background: #0d47a1;
}

.model__btn--edit:hover {
  background: #1976d2;
}

.model__btn--delete {
  background: #b71c1c;
}

.model__btn--delete:hover {
  background: #d32f2f;
}

.maps-link {
  margin-left: auto;
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--color-dark--1) !important;
}

.maps-link:hover {
  text-decoration: underline;
}

::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}

.main {
  grid-column: 1 / 3;
  height: calc(100vh - 10rem);
  background-color: #f7f7f7;
  padding: 8rem 6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.span-all-rows {
  grid-row: 1 / -1;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.right {
  text-align: right !important;
}

.line {
  margin: 6rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7dd56f),
    to(#28b487)
  );
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}
.heading-secondary--error {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff7730),
    to(#eb4d4b)
  );
  background-image: linear-gradient(to right, #ff7730, #eb4d4b);
  font-size: 3.5rem;
}

.heading-primary,
.heading-tertirary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}
.heading-primary span,
.heading-tertirary span {
  padding: 1rem 1.5rem;
  line-height: 1;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(125, 213, 111, 0.85)),
    to(rgba(40, 180, 135, 0.85))
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(125, 213, 111, 0.85),
    rgba(40, 180, 135, 0.85)
  );
}

.heading-primary {
  font-size: 5rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.heading-tertirary {
  font-size: 4rem;
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 70%;
  /* z-index: 10; */
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
  background-color: #2e864b;
}

.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}

.btn--small {
  padding: 1.25rem 3rem !important;
  font-size: 1.4rem !important;
}

.btn-small,
.btn-small:link,
.btn-small:visited {
  background-color: #55c57a;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.25rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  border: none;
}

.btn-small:hover {
  background-color: #7dd56f;
}

.btn-text:link,
.btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.btn-text:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-text:focus {
  outline: none;
  outline: 3px solid #55c57a;
  outline-offset: 3px;
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  background-color: var(--color-dark--1);
  filter: brightness(90%);
  font-family: "Manrope";
  padding: 0 5rem;
  /* margin-bottom: 1rem; */
  /* height: 8rem; */
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 62.5em) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.header__logo img {
  height: 6rem;
}
@media only screen and (max-width: 62.5em) {
  .header__logo {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 1.5rem;
  }
}

.section-map {
  position: relative;
  height: 65rem;
  margin-top: calc(0px - var(--section-rotate));
}

.mapboxgl-popup {
  max-width: 25rem;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 1.5rem !important;
  font-size: 1.4rem;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
  /* border-left: 0.5rem solid green !important;z */
}

.user-view {
  background-color: #fff;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 80vh;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-view__menu {
  -webkit-box-flex: 32rem;
  -ms-flex: 32rem 0 0px;
  flex: 32rem 0 0;
  /* background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#7dd56f),
    to(#28b487)
  );
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487); */
  background: linear-gradient(
    to top right,
    var(--color-dark--1),
    var(--color-dark--2)
  );
  padding: 4rem 0;
}
.user-view__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 7rem 0;
}
.user-view__form-container {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 8rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.nav--tours {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
}
@media only screen and (max-width: 62.5em) {
  .nav--tours {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav--tours {
    margin-bottom: 0;
  }
}
.nav--user {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.nav__el,
.nav__el:link,
.nav__el:visited {
  color: #f7f7f7;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.nav__el:hover,
.nav__el:active {
  color: #aaa;
  /* text-shadow: 0 0.7rem 1rem black; */
}
.nav__el:not(:last-child) {
  margin-right: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .nav__el:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.2rem;
  }
}
.nav__el:focus {
  outline: none;
}
.nav__el--cta {
  padding: 1rem 3rem;
  border-radius: 10rem;
  border: 1px solid currentColor !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav__el--cta:hover {
  background-color: #f7f7f7;
  color: #777;
  text-shadow: none;
  border-color: #f7f7f7;
}

.nav__el--time {
  font-size: 1.5rem;
  font-family: "Orbitron";
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__el--time:hover {
  color: #fff;
}

.nav__user-img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.nav__el-user {
  cursor: default !important;
}

.nav__el-user:hover {
  color: #f7f7f7;
}

.side-nav {
  list-style: none;
}
.side-nav li {
  margin: 1rem 0;
  border-left: 4px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.side-nav--active,
.side-nav li:hover {
  border-left: 4px solid #fff !important;
  background: rgba(256, 256, 256, 0.2);
}
/* .side-nav--active a {
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
} */
.side-nav a:link,
.side-nav a:visited {
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.login-form {
  margin: 0 auto;
  max-width: 55rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: #777;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  color: #777;
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}

.form__user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload:focus + label {
  outline: 3px solid #55c57a;
  outline-offset: 3px;
}

.form__upload + label {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.form__upload + label:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.error {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100rem;
  text-align: center;
}
.error__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.error__emoji {
  font-size: 3.75rem;
  margin-left: 1rem;
}
.error__msg {
  color: #777;
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 50rem;
  margin: 0 auto;
}

.heading-tertiary {
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
}

.loader-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 110;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.1s;
}

.loader-enter {
  opacity: 0;
  visibility: hidden;
}
.loader-enter-active {
  opacity: 1;
  visibility: visible;
}
.loader-exit {
  opacity: 1;
  visibility: visible;
}
.loader-exit-active {
  opacity: 0;
  visibility: hidden;
}

.sk-fading-circle {
  margin: 10rem auto;
  width: 10rem;
  height: 10rem;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background: linear-gradient(to top right, #1565c0, #42a5f5, #64b5f6);
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.options-box {
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  padding: 0 3rem;
  /* border: 2px solid #f7f7f7; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.search-div {
  display: flex;
  justify-content: center;
  position: relative;
}

.search-bar {
  width: 100%;
  height: 100%;
  color: #333;
  padding: 1rem 5rem 1rem 1rem;
  border-radius: 10rem;
  font-size: 1.8rem;
  border: none;
  outline: none;
}

.search-bar::placeholder {
  color: #444;
}

.search-btn {
  top: 10%;
  right: 0.3rem;
  position: absolute;
  height: 80%;
  width: 3.5rem;
  border: none;
  outline: none;
  background: #3b7726;
  padding: 0.25rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn img {
  width: 1.5rem;
  fill: #fff;
}

.footer {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 4rem;
}

.sidebar__btn-grp {
  display: flex;
  justify-content: center;
  /* margin: 2rem 0; */
  gap: 2rem;
}

.select {
  font-size: 1.5rem;
  flex-basis: 40%;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  background: transparent;
  color: #ddd;
  border-bottom: 2px solid #ddd;
}

.select option {
  color: #333;
}

.select option[default] {
  color: #aaa;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  transition: all 0.15s;
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

.alert-enter {
  transform: translateX(-50%) translateY(-100%);
}
.alert-enter-active {
  transform: translateX(-50%) translateY(0);
}
.alert-exit {
  transform: translateX(-50%) translateY(0);
}
.alert-exit-active {
  transform: translateX(-50%) translateY(-100%);
}

.forgot-password {
  font-size: 1.8rem;
  margin-top: 3rem;
  color: #777;
}

.forgot-password a {
  color: var(--color-brand--2);
  text-decoration: none;
}

.forgot-password a:hover {
  color: var(--color-brand--2);
  text-decoration: underline;
}

.index-box {
  grid-column: 1 / 3;
  height: calc(100vh - 8rem);
  background-color: #f7f7f7;
  padding: 3rem 6rem;
  display: grid;
  grid-template-columns: 45rem 1fr;
}
