doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="shortcut icon" type="image/png" href="/resources/icon.png")
    link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,700" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    
    block head

    link(rel="stylesheet" href="/css/style.css")
    script(defer src="/js/bundle.js")
    title Evemap | #{title}

  body(data-alert-message=`${alert ? alert.message : ""}` data-alert-type=`${alert ? alert.type : ""}`)
    include _header

    block content

    .loader-bg
      .sk-fading-circle
        .sk-circle1.sk-circle
        .sk-circle2.sk-circle
        .sk-circle3.sk-circle
        .sk-circle4.sk-circle
        .sk-circle5.sk-circle
        .sk-circle6.sk-circle
        .sk-circle7.sk-circle
        .sk-circle8.sk-circle
        .sk-circle9.sk-circle
        .sk-circle10.sk-circle
        .sk-circle11.sk-circle
        .sk-circle12.sk-circle

