extends base

mixin navItem(link, text, active)
  li(class=`${active? "side-nav--active" : ""}`)
    a(href=`${link}`) #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem("/me", "My profile")
          +navItem("/", "My events")
          +navItem("#", "Change Password", true)
          li(class="side-nav--logout")
            a(href=`#`) logout

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          form.form.form-user-password
            .form__group
              label.form__label(for='password-current') Current password
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
              label.form__label(for='password') New password
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm password
              input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--green.btn--save-password Change password
